.button {
    -fx-font: 20pt Ariel;
    -fx-background-color: #DAA520;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.label {
    -fx-font: 14pt Ariel;
    -fx-font-size: 20px;
}

.StackPane {
    -fx-background-color: #FFFFFF;
}

